{{> head}}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>ADN Company</h1>
        </div>

        <div class="col-4">
            <img src="assets/img/logo1.PNG" class="img-thumbnail">
        </div>

    </div>

{{> footer}}